# Virtual environments
.venv/
venv/
.venv_hr/
*/.venv_hr/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# macOS
.DS_Store

# Kaggle credentials / secrets
kaggle.json
access_token
.kaggle/

# Logs / temporary files
*.log