# Virtual environments
.venv/
venv/
.venv_hr/
*/.venv_hr/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# macOS
.DS_Store

# Kaggle credentials / secrets
kaggle.json
access_token
.kaggle/

# Logs / temporary files
*.log

# Ignore virtual environment inside day_2_ml
day_2_ml/.venv_hr/
day_2_ml/.venv_hr/**

# Ignore any virtual environment in any project folder
**/.venv_hr/
**/.venv_hr/**
**/.venv/
**/.venv/**
**/venv/
**/venv/**